<ion-view view-title="{{title}}">
  <ion-content class="page-settings">

    <div class="settings-section">
      <div class="item-title">
        {{languageTitle}}
      </div>
      <ion-list>
        <ion-radio name="language" ng-repeat="lang in languages" ng-model="settings.language" ng-value="lang.val" ng-change="changeLang()">{{lang.name}}</ion-radio>
      </ion-list>
    </div>
    
    <div class="settings-section">
      <div class="item-title">
        {{frequencyTitle}}
      </div>
      <ion-list>
        <ion-radio name="frequency" ng-repeat="fr in frequency" ng-model="settings.frequency" ng-value="fr.val">{{fr.name}}</ion-radio>
      </ion-list>
      
      <div class="list settings-time">
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{labelTime}}</span>
          <input class="input-time" type="time" name="time" ng-model="settings.time">
        </label>
      </div>
    </div>
    
    <div class="padding">
      <button class="button button-block button-energized" ng-click="add()">{{nameButton}}</button>
    </div>
  </ion-content>
</ion-view>
