<ion-view view-title="{{title}}">
  <ion-content class="padding">
    <p>Este aplicativo tem o objetivo de espalhar um pouco mais de amor e bondade pelo mundo e principalmente como uma forma de se opor a Baleia Azul.</p>
    <p>A Baleia Azul é uma "brincadeira" que tem o intuito de incentivar adolescentes, em geral, a realizar tarefas diárias e que ao 50º passo a pessoa deve cometer suicídio.</p>
    <p>Os principais alvos são pessoas que possuem DEPRESSÃO ou algum tipo de transtorno psicológico.</p>
    <p>A DEPRESSÃO é uma doença que afeta 4,4%(322 milhões) da população mundial e 5,8%(11,5 milhões) dos brasileiros, segundo dados da OMS. Brasil é o país com maior prevalência de ansiedade no mundo: 9,3%(18,6 milhões).</p>
    <p>A DEPRESSÃO é uma DOENÇA! Não é falta de porrada quando criança, não é frescura, falta de amigos, falta de diversão, falta de trabalho ou preguiça. Não seja ignorante! Se você souber que alguém possui esta doença, procure ajuda e caso você tenha a doença, não tenha medo de pedir ajuda, pois você não é o culpado.</p>
    <p>Caso a pessoa que sofra dessa doença não tenha condições de arcar com os custos do tratamento, aqui está uma <a href="https://goo.gl/lGx90q" target="_blank">lista de lugares que podem ajudar com atendimento Psicológico grátis ou de baixo custo</a>.</p>
    <p>Este projeto foi desenvolvido por <a href="https://www.facebook.com/ericvdeoliveira" target="_blank">Eric Vasconcelos</a>, que sofre com a doença de Ansiedade e acredita no voluntarismo como forma de transformar a sociedade e as pessoas ao seu redor. E contou com a colaboração de <a href="https://www.facebook.com/allana.peixoto" target="_blank">Allan Peixoto</a> no criação dos textos.</p>
    <p>Faça sua parte como ser humano, não negligencie ajuda a quem realmente precisa.</p>
  </ion-content>
</ion-view>
