<ion-view view-title="Informações">
  <ion-content class="padding">
    <p>Este aplicativo tem o objetivo de espalhar um pouco mais de amor e bondade pelo mundo e principalmente como uma forma de se opor a Baleia Azul.</p>
    <p>A Baleia Azul é uma "brincadeira" que tem o intuito de incentivar adolescentes, em geral, a realizar tarefas diárias e que ao 50º passo a pessoa deve cometer um suicídio.</p>
    <p>Os principais alvos são pessoas que possuem DEPRESSÃO ou algum tempo de transtorno psicológico.</p>
    <p>A doença afeta 4,4%(322 milhões) da população mundial e 5,8%(11,5 milhões) dos brasileiros, segundo dados da OMS. Brasil é o país com maior prevalência de ansiedade no mundo: 9,3%(18,6 milhões).</p>
    <p>A DEPRESSÃO é uma DOENÇA! Não é falta porrada quando criança, não é frescura, falta de amigos, falta de diversão, falta de trabalho ou preguiça. Não seja ignorante! Se você souber que alguém tem essa doença, procure ajuda e caso você tenha a doença, não tenha medo de pedir ajuda, pois você não é o culpado.</p>
    <p>Caso a pessoa que sofra dessa doença não tem condições de arcar com os custos de um tratamento, aqui está <a href="https://goo.gl/lGx90q" target="_blank">lista de lugares que pode ajudar com atendimento Psicológico grátis ou de baixo custo</a>.</p>
    <p>Este projeto foi desenvolvido por <a href="https://www.facebook.com/ericvdeoliveira" target="_blank">Eric Vasconcelos</a>, que sofre com a doença de Ansiedade e acredita no voluntarismo como forma de transformar a socidade e as pessoas ao redor.</p>
    <p>Faça sua parte como ser humano, não neglicencie ajuda a quem realmente precisa.</p>
  </ion-content>
</ion-view>
