<ion-view view-title="{{title}}">
  <ion-content class="page-settings">

    <div class="settings-section">
      <div class="item-title">
        {{languageTitle}}
      </div>
      <ion-list>
        <ion-radio name="language" ng-repeat="lang in languages" ng-model="settings.language" ng-value="lang.val" ng-change="changeLang()">{{lang.name}}</ion-radio>
      </ion-list>
    </div>
    
    <div class="settings-section">      
      <div class="list settings-time">
        <label class="item item-input item-stacked-label label-time">
          <span class="input-label">{{labelTime}}</span>
        </label>
        <label class="item item-input item-stacked-label">
          <p>Selecione o horário clicando no relógio.</p>
        </label>
        <label class="item item-input input-time">
          <i class="icon ion-clock placeholder-icon"></i>
          <input type="time" name="time" ng-model="settings.time">
        </label>
        <p class="error" ng-if="timeError">{{errorText}}</p>
      </div>
    </div>
    
    <div class="padding">
      <button class="button button-block button-energized" ng-click="add()">{{nameButtonSave}} a</button>
      <button class="button button-block" ng-click="cancelNotification()">{{nameButtonCancel}}</button>
    </div>
  </ion-content>
</ion-view>
